### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# ignore output files
results/*

# ignore some things from FigShare
data/rgid_unspliced_saf.csv.gz
info/JDM_RNASeq_ReadGroup_Info.csv

# ignore specific output types
*.log
*.html
*.fastq.gz
*.bam
